* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --section-padding: 60px;
}
body {
  font-family: "Open Sans";
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* margin-left: 15px; */
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo img {
  width: 100px;
}
header a {
  background-color: white;
  color: var(--Very-Dark-Cyan);
  padding: 5px 30px;
  border-radius: 50px;
  box-shadow: 3px 3px 5px var(--Grayish-Blue);
}
/* ---------land--------- */
.land {
  background-image: url(images/bg-hero-desktop.svg);
  height: 100vh;
  position: relative;
  /* top: -100px; */
}
.land .land-bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.land .land-bx .image {
  flex-basis: 50%;
}
.land .land-bx .image img {
  width: 100%;
}
.land .land-bx .txt {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
}
.land .land-bx .txt h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
}
.land .land-bx .txt p {
  margin-bottom: 10px;
}
.land .land-bx .txt a {
  background-color: rgb(255, 86, 204);
  color: white;
  display: flex;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 50px;
  font-size: 10px;
}
@media (max-width: 767px) {
  .land .land-bx .txt h2 {
    font-size: calc(initial + 2px);
  }
}
/* start section */
section {
  padding-top: var(--section-padding);
  padding-bottom: calc(100px + var(--section-padding));
}

section .container .sec .sec-bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(224, 224, 224, 0.66);
}
@media (max-width: 767px) {
  section .container .sec .sec {
  }
}
section .container .sec .sec-bx:not(:last-child) {
  margin-bottom: 50px;
}
section .container .sec .sec-bx .txt {
  flex-basis: 45%;
}
section .container .sec .sec-bx .txt h4 {
  margin-bottom: 10px;
  font-size: 30px;
}
section .container .sec .sec-bx .txt p {
  color: var(--Grayish-Blue);
  /* font-size: 20px; */
  line-height: 1.6;
}
section .container .sec .sec-bx .image {
  /* width: 100px; */
  max-width: 400px;
}
section .container .sec .sec-bx .image img {
  max-width: 100%;
}
/* end section */
/* start footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  display: none;
}
footer .container .pup {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 2px var(--Grayish-Blue);
  padding: 30px 100px;
}
footer .container .pup h3 {
  /* padding-top: 10px; */
  padding-bottom: 20px;
}
footer .container .pup a {
  background-color: rgb(255, 86, 204);
  color: white;
  padding: 5px 30px;
  border-radius: 50px;
  font-size: 12px;
}
footer {
  background-color: var(--Very-Dark-Cyan);
  /* padding: 10px 0px 10px; */
}
.f-flex {
  display: flex;
  /* justify-content: ; */
  align-items: center;
  /* margin-bottom: auto; */
}
.f-flex img {
  align-self: flex-start;
  margin-right: 10px;
}
.adrs span {
  margin-bottom: 15px;
}
footer .container .fot {
  color: white;
}
footer .container .fot > img {
  margin-bottom: 20px;
  background-color: red;
  color: black;
}
footer .container .fot .logo-adrs {
  display: flex;
  justify-content: space-between;
}
footer .container .fot .location p {
  max-width: 250px;
}

/* end footer */
