* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --section-padding: 60px;
}
body {
  font-family: "Open Sans";
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

/* ------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo img {
  width: 100px;
}
header a {
  background-color: white;
  color: var(--Very-Dark-Cyan);
  padding: 5px 30px;
  border-radius: 50px;
  box-shadow: 3px 3px 5px var(--Grayish-Blue);
}
/* ------------------ */
.land {
  background-image: url(images/bg-hero-desktop.svg);
  height: 100vh;
  position: relative;
  /* top: -100px; */
}
.land .land-bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.land .land-bx .txt {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.land .land-bx .image {
  flex-basis: 50%;
}
.land .land-bx .image img {
  width: 100%;
}
.land .land-bx .txt h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
}
.land .land-bx .txt p {
  margin-bottom: 10px;
}
.land .land-bx .txt a {
  background-color: rgb(255, 86, 204);
  color: white;
  display: flex;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 50px;
  font-size: 10px;
}
/* start section */
section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

section .container .sec .sec-bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(224, 224, 224, 0.66);
}
section .container .sec .sec-bx:not(:last-child) {
  margin-bottom: 50px;
}
section .container .sec .sec-bx .txt {
  flex-basis: 45%;
}
section .container .sec .sec-bx .txt h4 {
  margin-bottom: 10px;
  font-size: 30px;
}
section .container .sec .sec-bx .txt p {
  color: var(--Grayish-Blue);
  /* font-size: 20px; */
  line-height: 1.6;
}
section .container .sec .sec-bx .image img {
  max-width: 400px;
}
/* end section */
/* start footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
footer .container .pup {
  position: absolute;
  background-color: rgb(106, 106, 106);
  width: fit-content;
  left: 50%;
  /* top: -50px; */
transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
}
footer .container .pup {

}
footer .container .fot .logo-adrs{
  display: flex;
}
/* end footer */
